<div class="row">
  <div class="col-sm-3">
    <div class="card mb-5">
      <div class="card-header">Available to drag</div>
      <div class="card-body">
        <div class="card" dnd-draggable [dragEnabled]="true" [dragData]="transferData">
          <div class="card-body">
            <div>Drag Me</div>
            <br>
            <pre>{{transferData | json}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div dnd-droppable class="card mb-5" (onDropSuccess)="transferDataSuccess($event)">
      <div class="card-header">Place to drop</div>
      <div class="card-body">
        <div class="card mb-3" *ngFor="let data of receivedData">
          <div class="card-body">
            <pre>{{data | json}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>