<div class="row">
  <div class="col-sm-3">
    <div class="card mb-5">
      <div class="card-header">Available to drag</div>
      <div class="card-body text-dark">
        <div class="card text-white bg-primary" dnd-draggable [dragEnabled]="true">
          <div class="card-body">
            <p class="card-text">Drag Me</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">Place to drop</div>
      <div class="card-body" dnd-droppable (onDropSuccess)="simpleDrop=simpleDrop + 1">
        <p class="card-text" *ngIf="simpleDrop">Dropped {{simpleDrop}} times</p>
      </div>
    </div>
  </div>
</div>